@use "../ul_rivet_sass/node_modules/rivet-core/sass/core" as *;
@use "../ul_rivet_sass/node_modules/rivet-core/sass/defaults";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/utilities";
// @use "../node_modules/rivet-core/sass/accordion";
// @use "../node_modules/rivet-core/sass/alerts";
// @use "../node_modules/rivet-core/sass/avatar";
// @use "../node_modules/rivet-core/sass/badges";
// @use "../node_modules/rivet-core/sass/billboard";
// @use "../node_modules/rivet-core/sass/breadcrumb";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/buttons";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/buttons-segmented";
// @use "../node_modules/rivet-core/sass/card";
// @use "../node_modules/rivet-core/sass/checkboxes";
// @use "../node_modules/rivet-core/sass/cta";
// @use "../node_modules/rivet-core/sass/dialog";
// @use "../node_modules/rivet-core/sass/dropdown";
// @use "../node_modules/rivet-core/sass/file-input";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/footer-system/footer-common";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/footer-system/footer-base";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/grid";
// @use "../node_modules/rivet-core/sass/hero-area";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/header-system";
// @use "../node_modules/rivet-core/sass/input-group";
// @use "../node_modules/rivet-core/sass/inputs";
@use "../ul_rivet_sass/node_modules/rivet-core/sass/layout";
// @use "../node_modules/rivet-core/sass/link-hub";
// @use "../node_modules/rivet-core/sass/links";
// @use "../node_modules/rivet-core/sass/lists";
// @use "../node_modules/rivet-core/sass/loading-indicator";
// @use "../node_modules/rivet-core/sass/pagination";
// @use "../node_modules/rivet-core/sass/quote";
// @use "../node_modules/rivet-core/sass/radios";
// @use "../node_modules/rivet-core/sass/sidenav";
// @use "../node_modules/rivet-core/sass/stat";
// @use "../node_modules/rivet-core/sass/stat-group";
// @use "../node_modules/rivet-core/sass/step-indicator";
// @use "../node_modules/rivet-core/sass/subnav";
// @use "../node_modules/rivet-core/sass/switch";
// @use "../node_modules/rivet-core/sass/tables";
// @use "../node_modules/rivet-core/sass/tabs";
// @use "../node_modules/rivet-core/sass/timeline";
// @use "../node_modules/rivet-core/sass/validation";

/* Your project's styles start here ... */

h1 {
    font-size: 2.5rem;
}
.ulib-h1 {
    border-bottom: 2px solid #900;
    margin-bottom: 25px;
    text-align: center;
}
.ulib-button {
    color: #fff;
    background: #900;    
    border-style: solid;
    border-width: 1px;
    border-color: #900;
}
.ulib-button:hover {
    color: #900;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #900;
}

a {
    color: rgb(167, 43, 80);
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;
  }
  .grid-item-test {
    
    padding: 10px;
//    text-align: center;
  }
  .grid-item {
    
    padding: 15px;
    border-bottom: 1px solid #aac7ef;
//    text-align: center;
  }
.right {
    float: right;
    padding: 10px;
}
.left {
    float: left;
    text-align: left;
    padding: 10px;
}
.container-ulib {
    color: white;
    background-color: #4a3c31;
    padding: 20px 20px 20px 85px;   
}
.container-ulib a {
    color: white;
}
/*
.container-ulib > div {
    border-right: 1px solid white;
}
*/
.column {
    width: 33.3%;
    float: left;
	text-align: left;
}